name: "dagger"
on:
  workflow_call:
    outputs:
      ArtifactName:
        description: "The name of the uploaded artifact"
        value: ${{ jobs.dagger.outputs.artifact-name }}
    secrets:
      NUGET_API_KEY:
        description: "NuGet API Key"
        required: false
      GH_TOKEN:
        description: "GitHub Token"
        required: false
      DAGGER_CLOUD_TOKEN:
        description: "Dagger Cloud Token"
        required: false
      DAGGER_SSH_PRIVATE_KEY:
        description: "dagger@cloud-tek.io key"
        required: true
    inputs:
      Directory:
        description: "Project directory"
        type: string
        required: true
      NetVersion:
        description: ".NET version"
        type: string
        default: "10.0"
        required: false
      NetSdkVersion:
        description: ".NET SDK version"
        type: string
        default: "10.0.100"
        required: false
      DaggerModule:
        description: "Dagger Module"
        type: string
        default: "github.com/cloud-tek/dagger/dotnet/cloudtek-build@v0.2.0"
        required: false
      CloudTekBuildVersion:
        description: "CloudTek.Build.Tool version"
        type: string
        default: "10.0.0"
        required: false
      Target:
        description: "NUKE Target"
        type: string
        default: "All"
        required: false
      Skip:
        description: "NUKE Skip Targets"
        type: string
        default: ""
        required: false

jobs:
  dagger:
    name: dagger
    runs-on: ubuntu-latest
    outputs:
      artifact-name: ${{ steps.artifact-name.outputs.name }}
    env:
      VAR_ARTIFACT_NAME: artifacts
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: "0"
          token: ${{ secrets.GH_TOKEN }}
      - name: 'git config'
        run: |
          git config --global url."git@github.com:".insteadOf https://github.com
      - name: 'ssh-agent'
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DAGGER_SSH_PRIVATE_KEY }}
      - name: global.json
        shell: bash
        run: |
          if [ -f "${{ github.workspace }}/global.json" ]; then
            echo "global.json exists"
          else
            echo "{ \"tools\": { \"dotnet\": \"${{ inputs.NetSdkVersion }}\" } }" > ${{ github.workspace }}/global.json
          fi
      - name: dagger call
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: "latest"
          module: ${{ inputs.DaggerModule }}
          args: >-
            build
            --source ${{ github.workspace }}/${{ inputs.Directory }}
            --target ${{ inputs.Target }}
            --skip "${{ inputs.Skip }}"
            --toolVersion ${{ inputs.CloudTekBuildVersion }}
            --sdkVersion ${{ inputs.NetSdkVersion }}
            --auto-apply
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}

      - name: tree results
        run: |
          tree ${{ github.workspace }}/results
      - name: tree artifacts
        if: ${{ !(contains(inputs.Skip, 'Pack') && contains(inputs.Skip, 'Publish')) }}
        run: |
          tree ${{ github.workspace }}/artifacts

      - name: set artifact name
        id: artifact-name
        run: |
          echo "name=${{ env.VAR_ARTIFACT_NAME }}" >> $GITHUB_OUTPUT

      - name: upload-artifacts
        uses: actions/upload-artifact@v5
        if: ${{ !(contains(inputs.Skip, 'Pack') && contains(inputs.Skip, 'Publish')) }}
        with:
          name: ${{ env.VAR_ARTIFACT_NAME }}
          path: ${{ github.workspace }}/artifacts
          if-no-files-found: error

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: (success() || failure())
        with:
          name: XUnit Tests
          path: ${{ github.workspace }}/results/tests/*.trx
          reporter: dotnet-trx
